<?xml version="1.0" encoding="utf-8"?>
<config>
  <Version>1.0</Version>
  <Full_size>2415995111</Full_size>
  <Full_size_not_compressed>0</Full_size_not_compressed>
  <Compression>True</Compression>
  <Crypted></Crypted>
  <Hash>02+fM63E2VR0KLVaqp+BKg==</Hash>
  <Run_file>HardcoreMMORPG.exe</Run_file>
</config>